<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GimWeb{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block extra_head %}
    {% endblock %}

</head>
<body>
<header>
    <!-- Navbar -->
    {% include 'pages/navbar.html' %}
</header>

    {% block content %}
    {% endblock %}


    {% include 'pages/footer.html' %}
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}
    {% endblock %}

</body>
</html>
