<nav class="navbar">
    <!-- Logo -->
    <div class="logo">
        <a href="/">KickBoxing Center Salamanca</a>
    </div>
    
    <!-- Navbar Links -->
    <ul class="nav-links">
        <li><a href="/" class="nav-link">Inicio</a></li>
        <li><a href="/quienes-somos/" class="nav-link">Quiénes somos</a></li>
        <li><a href="/horarios/" class="nav-link">Horarios</a></li>
        <li><a href="{% url 'instalaciones' %}" class="nav-link">Instalaciones</a></li>
        <li><a href="/actividades/" class="nav-link">Actividades</a></li>
        <li><a href="/contacto/" class="nav-link">Contacto</a></li>
    </ul>

    <!-- Hamburger Icon (para pantallas pequeñas) -->
    <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</nav>