/* Estilos generales */
:root {
    /* Colores principales */
    --rojo: #ff0000;        /* Rojo */
    --naranja: #ffa500;     /* Naranja */
    --amarillo: #ffff00;    /* Amarillo */
    --negro: #000000dc;       /* Negro */

    /* Colores intermedios */
    --rojo-naranja: #ff4500;   /* Rojo-naranja */
    --naranja-amarillo: #ffbf00; /* Naranja-amarillo */
    --amarillo-negro: #808000;  /* Amarillo-negro (verde oliva) */
    --rojo-negro: #800000;      /* Rojo-negro (burdeos) */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    background-color: #f4f4f9;
}

a {
    text-decoration: none;
}

/* Estilos del Navbar */
.navbar {
    background-color: var(--negro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    transition: background-color 0.3s;
    position: relative;
    width: 100%;
    min-height: 6rem;
    top: 0;
    left: 0;
    z-index: 10;
}

/* Logo */
.logo a {
    color: white;
    font-size: 24px;
    font-weight: bold;
}


/* Enlaces del Navbar */
.nav-links {
    display: flex;
    gap: 20px;
    transition: left 0.3s ease;
}

.nav-link {
    color: var(--amarillo);
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 5px;
    position: relative;
}

.nav-link:hover {
    color: var(--naranja-amarillo);
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, red, yellow);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}
/* Hamburger Icon */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 11;
}

.hamburger .bar {
    width: 30px;
    height: 4px;
    background-color: var(--amarillo-negro);
}

.hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Estilos para cuando se hace scroll */
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--negro);
        width: 75%; /* Ajusta el ancho del offcanvas */
        height: 100%;
        padding-top: 60px; /* Espacio para que no se superponga al navbar */
        transition: left 0.5s ease; /* Transición para el desplazamiento */
    }

    .nav-links.active {
        left: 0; /* Hace que el menú se deslice desde la izquierda */
    }

    .nav-link {
        color: var(--amarillo);
        padding: 10px 20px;
    }

    .hamburger {
        display: flex;
        position: absolute;
        left: 20px;
        z-index: 11;
    }

    .logo {
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }
}

.main-title {
    display: flex;
    align-items: center; /* Alinea verticalmente al centro */
    justify-content: space-around; /* Centra el contenido horizontalmente */
    margin-top: 5rem;
    margin-bottom: 5rem;
    flex-wrap: nowrap;
}

/* Estilo para la imagen del logo */
.logo {
    width: 50px; /* Ajusta el tamaño según necesites */
    height: auto;
    margin-right: 15px; /* Espacio entre el logo y el texto */
}

/* Estilo para el título */
.main-title h1 {
    font-size: 2em;
    color: var(--rojo-naranja);
    margin: 0; /* Elimina cualquier margen adicional */
    line-height: 1; /* Asegura una alineación precisa */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    max-width: 100%;
    margin: 40px auto;
    padding: 0;
}

.grid-item {
    position: relative;
    background-color: var(--rojo);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
    opacity: 0; /* Inicialmente oculto */
    transform: translateX(100px); /* Empuja los elementos fuera de la pantalla */
    transition: opacity 0.3s ease, transform 0.5s ease; /* Transición suave */
    margin: 0;
}

/* Añadir animación cuando el elemento esté en pantalla */
.grid-item.visible {
    opacity: 1; /* Hace que el elemento sea visible */
    transform: translateX(0); /* Desliza el elemento a su posición original */
}

.grid-item:nth-child(odd) {
    transform: translateX(-100px); /* Empuja los elementos impares hacia la izquierda */
}

.grid-item .description {
    font-size: 1.2rem;
    color: var(--amarillo);
    text-align: center;
    z-index: 2;
    transition: opacity 0.3s ease;
}

.grid-item .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(0.7);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    z-index: 1;
}

.grid-item:hover .image {
    transform: scale(1); /* Efecto de zoom */
    opacity: 1; /* La imagen aparece desde atrás */
}

.grid-item:hover .description {
    opacity: 0; /* El texto desaparece cuando se hace hover */
}

/* Cuando se hace hover, hacer que un elemento crezca y los otros encojan */
.grid-item:hover {
    transform: scaleX(1.3);  /* Aumenta el tamaño del elemento */
    z-index: 4;
}

.grid-item:not(:hover) {
    transform: scaleX(1);  /* Los demás elementos se encojen */
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* En pantallas medianas, dos columnas */
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Apilar los elementos en pantallas pequeñas */
    }

    .main-title {
        flex-direction: column; /* Cambia la dirección del contenedor a columna */
        text-align: center; /* Centra el texto */
    }

    .logo {
        width: 40px; /* Reduce el tamaño del logo en pantallas pequeñas */
        margin: 0 0 10px 0;
        justify-content: flex-end;
    }

    .main-title h1 {
        font-size: 1.5em; /* Reduce ligeramente el tamaño de la fuente en pantallas pequeñas */
    }
}


/* Espaciado en las secciones */
#actividades, #horario {
    margin-bottom: 30px;
}

/* Estilos del Footer */

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

/* Estilos de las secciones */
.footer-section {
    flex: 1;
    min-width: 200px;
    padding: 10px;
}

.footer-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-contact p,
.footer-legal p {
    margin: 5px 0;
}

/* Estilo de los enlaces para que coincidan con los del navbar */
.footer a {
    color: var(--naranja-amarillo); /* Ajustado al color de los enlaces en el navbar */
    text-decoration: none;
}

.footer a:hover {
    color: var(--amarillo); /* Ajuste de color para el hover, como en el navbar */
}

/* Estilos específicos para la lista de enlaces */
.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 12px;
}

.footer-links a {
    text-decoration: none;  /* Quitar subrayado de los enlaces */
    font-size: 1rem;
    transition: color 0.3s ease;  /* Suavizar el cambio de color al pasar el mouse */
}

.footer-links a:hover {
    color: var(--rojo);  /* Cambiar color al hacer hover (puedes poner el color que prefieras) */
}

/* Enlace al mapa de Google con icono de flecha */
.map-link {
    margin-top: 5px;
    font-size: 14px;
}

.map-link a {
    color: #ffbf00;
    text-decoration: none;
}

.map-link a:hover {
    color: #eeebe5;
}

/* Mapa responsivo */
.footer-map iframe {
    width: 100%;
    height: 200px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-map {
        order: -1; /* Coloca el mapa al principio */
        width: 100%;
    }

    .footer-section {
        width: 100%;
    }

    .footer-legal {
        margin-top: 10px;
        font-size: 14px;
    }
}


/* Estilo de la Sección de Actividades */
#actividades {
    padding: 40px 20px;
    background-color: #f4f4f9;
    text-align: center;
}

#actividades h2 {
    font-size: 2.5rem;
    color: var(--rojo);
    margin-bottom: 20px;
}

#actividades p {
    font-size: 1.2rem;
    color: var(--negro);
    margin-bottom: 30px;
}

/* Estilo de las Actividades */
.actividades-contenido {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap; /* Permite que los elementos se acomoden en una nueva fila si no caben */
}

.actividad {
    background-color: var(--rojo-negro);
    color: var(--amarillo);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.actividad:hover {
    transform: translateY(-10px); /* Efecto hover para resaltar */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.actividad h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.actividad p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.enlace-actividad {
    text-decoration: none;
    color: var(--amarillo);
    font-weight: bold;
    transition: color 0.3s ease;
}

.enlace-actividad:hover {
    color: var(--naranja-amarillo);
}

/* Estilo para la sección de Metodología */
#metodologia {
    background-color: var(--amarillo-negro);
    padding: 40px 20px;
    color: white;
    text-align: center;
}

#metodologia h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#metodologia p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Estilos para los enlaces de material adicional */
#metodologia ul {
    list-style: none;
    padding: 0;
}

#metodologia ul li {
    margin-bottom: 10px;
}

#metodologia ul li a {
    color: var(--naranja-amarillo);
    font-size: 1.1rem;
    text-decoration: none;
}

#metodologia ul li a:hover {
    color: var(--amarillo);
}


/* SECCIÓN HORARIOS */

/* Estilo de la sección de horario */
#horario {
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para la tabla de horarios */
.horarios-cuadricula {
    overflow-x: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

td {
    min-width: 120px;
    vertical-align: top;
    position: relative;
}

.hora {
    font-weight: bold;
}

.actividad {
    background-color: #ffbf00;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
}

/* Botón para descarga en PDF */
#descargar-pdf {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#descargar-pdf:hover {
    background-color: #ff4500;
}
